@model List<bootstrapmvc.Areas.ManagerPanel.Data.BlackListPenaltyViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

@if (TempData["mesaj"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        @TempData["mesaj"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
    </div>
}

<div class="container mt-3">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#mesajimvar">Beni Oku</button>
    <div class="modal fade" id="mesajimvar">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Bilgilendirme</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div style="height: 100px;">
                        <p>Bu bölümde, kitap iade süresini aşan öğrenciler ve bu sürelerden doğan para cezaları yer almaktadır. Kara listedeki öğrencilerin ödünç alma işlemleri kısıtlanmıştır. Lütfen gerekli kontrolleri yapınız.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anladım</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="container mt-0">
    <div class="card">
        <div class="card-footer">
            <span class="text-danger fw-semibold">
                <i class="fa-solid fa-database me-1"></i> @Model.Count kayıt listeleniyor
            </span>
        </div>
        <div class="card-header bg-danger text-white">
            <h4 class="float-start">
                <i class="fa-solid fa-skull me-2"></i><i class="fa-solid fa-skull me-2"></i> <strong>Tüm Ceza Tutarları</strong>
            </h4>
            <div class="float-end">
                <a href="@Url.Action("ForgiveAllPenalties", "BlackList")"
                   class="btn btn-danger"
                   onclick="return confirm('Tüm öğrencilerin cezalarını sıfırlamak istediğinizden emin misiniz?');">
                    <i class="fa-solid fa-crown"></i> <strong>Af Çıkar</strong>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Öğrenci Ad Soyad</th>
                            <th>Öğrenci No</th>
                            <th>Getirmediği Kitap</th>
                            <th>Ceza Tutarı (₺)</th>
                            <th>Gecikme Gün Sayısı</th>
                            <th>Getirmesi Gereken Tarih</th>
                            <th>Getirdiği Tarih</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <i class="fa-solid fa-skull me-2"></i>
                                    @item.StudentName @item.StudentSurname
                                </td>
                                <td>@item.StudentNumber</td>
                                <td>@item.BookTitle</td>
                                <td>
                                    <span class="badge bg-danger">@item.Penalty</span>
                                </td>
                                <td>
                                    @(item.ReturnDate != null ? (item.ReturnDate.Value - item.DueDate).Days : 0) gün
                                </td>
                                <td>@item.DueDate.ToString("dd.MM.yyyy")</td>
                                <td>@(item.ReturnDate?.ToString("dd.MM.yyyy"))</td>
                                <td>
                                    <a href="@Url.Action("ForgivePenalty", "BlackList", new { id = item.BorrowID })"
                                       class="btn btn-outline-danger text-white btn-sm"
                                       onclick="return confirm('Öğrenci ceza tutarını ödedi ve tekrarı olmayacağını belirtiyor ise işleme devam ediniz.');">
                                        <i class="fa-solid fa-hands-praying "></i><strong>&nbsp;Affet</strong>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div />
                <a href="#top" class="text-decoration-none">
                    <i class="fa-solid fa-angles-up me-1"></i> Yukarıya Çık
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div id="akordiyon">
        <div class="card">
            <div class="card-header">
                <a href="#collapse1" class="btn text-black fw-bold" data-bs-toggle="collapse">
                    <i class="fas fa-triangle-exclamation me-2"></i>Hatırlatma!
                </a>
            </div>
            <div class="collapse show" data-bs-parent="#akordiyon" id="collapse1">
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        Bir öğrencinin ceza geçmişinde gecikme en fazla 2 gün olabilir. Ödünç kitap alabilmesi için ceza geçmişinde 2 gün üstünde cezası olmaması gerekmektedir. Yeni ödünç kaydı için bu cezalarında affedilmesi gerekmektedir.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>