@using bootstrapmvc.Models;
@{
    Manager m = new Manager();
    if (Session["ManagerSession"] != null)
    {
        m = Session["ManagerSession"] as Manager;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/fontawesome-free-6.7.2-web/fontawesome-free-6.7.2-web/css/all.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="alert alert-success">
        <strong><i class="fa-solid fa-user"></i> Hoşgeldin @m.Name!</strong>
        <a href="@Url.Action("LogOut", "Login")"
           class="btn btn-success btn-sm float-end rounded"
           onclick="return confirm('Çıkış yapmak istediğinize emin misiniz?');">
            <i class="fa-solid fa-right-from-bracket"></i> Çıkış
        </a>
    </div>
    <div class="mt-2">
        <nav class="nav flex-column">
            <a class="nav-link p-1" href="@Url.Action("Index", "Home")">
                <i class="fa-solid fa-house"></i> Anasayfa
            </a>
        </nav>
        <nav class="nav flex-column">
            <a class="nav-link p-1" href="@Url.Action("Index", "Dashboard")">
                <i class="fa-solid fa-chart-line"></i> Dashboard
            </a>
        </nav>
        <nav class="nav flex-column">
            <a class="nav-link p-1" href="@Url.Action("Index", "Book")">
                <i class="fa-solid fa-book"></i> Kitap Listesi
            </a>
        </nav>
    </div>
    <div class="container mt-4">
        @RenderBody()
    </div>
    <div class="clearfix"></div>
    @RenderSection("scripts", false)
    <script src="~/Scripts/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
