@model bootstrapmvc.Areas.ManagerPanel.Data.StudentBorrowHistoryViewModel
@{
    ViewBag.Title = "StudentPenalties";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container mt-5">
    <h3>
        <strong>@Model.Student.Name </strong>
        <strong>@Model.Student.Surname </strong>
    </h3>
    <hr />
    <h4>Toplam Ceza Tutarı: <span class="text-danger">@Model.TotalPenalty.ToString("C")</span></h4>

    <a href="@Url.Action("StudentHistory", "Borrow", new { id = Model.Student.ID })" class="btn btn-secondary mt-3">
        <i class="fa-solid fa-arrow-left me-2"></i> Geri Dön
    </a>
    <a href="@Url.Action("Index", "BlackList")" class="btn btn-secondary mt-3">
        Ceza/Af Sayfasına Git <i class="fa-solid fa-arrow-right ms-2"></i>
    </a>
</div>