@model bootstrapmvc.Models.Book
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container mt-3">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Home", new { area = "ManagerPanel" })">
                <i class="fa-solid fa-house me-1"></i> Anasayfa
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index", "Book", new { area = "ManagerPanel" })">
                <i class="fa-solid fa-book me-1"></i> Kitap Listesi
            </a>
        </li>
        <li class="breadcrumb-item active">
            <i class="fa-solid fa-pen-to-square me-1"></i> Kitap Düzenle
        </li>
    </ul>
</div>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">
                <span class="badge bg-success">
                    <i class="fa-solid fa-book-pen"></i> Kitap Düzenleme Sayfası
                </span>
            </h4>
        </div>

        <div class="card-body">
            @using (Html.BeginForm())
            {
                if (TempData["mesaj"] != null)
                {
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        @TempData["mesaj"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="mb-3">
                    <label for="Name" class="form-label">
                        <i class="fa-solid fa-book"></i> <strong>Kitap Adı</strong>
                    </label>
                    @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @id = "Name" } })
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    <label for="Writer" class="form-label">
                        <i class="fa-solid fa-feather-pointed"></i> <strong>Yazar Adı</strong>
                    </label>
                    @Html.EditorFor(x => x.Writer, new { htmlAttributes = new { @class = "form-control", @id = "Writer" } })
                    @Html.ValidationMessageFor(x => x.Writer, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-outline-success">
                    <i class="fa-solid fa-pen-to-square"></i> Kitap Düzenle
                </button>
            }
        </div>
    </div>
</div>
