@model List<bootstrapmvc.Models.Borrow>
@{
    ViewBag.Title = "BlackListStats";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-sm-12 mt-2">
            <div class="p-3 bg-dark text-white rounded text-center">
                <span class="badge bg-danger fs-4">@ViewBag.KaraListeOgrenciSayisi</span>
                <div>Kara Listedeki Öğrenci Sayısı</div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-sm-12 mt-2">
            <div class="p-3 bg-dark text-white rounded text-center">
                <span class="badge bg-warning text-dark fs-4">@ViewBag.ToplamCezaTutari ₺</span>
                <div>Toplam Ceza Tutarı</div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            <h4 class="card-title float-start text-danger">
                <i class="fa-solid fa-triangle-exclamation me-2"></i> Cezalar
            </h4>
            <a href="@Url.Action("Index", "BlackList")" class="btn btn-danger float-end">
                <i class="fa-solid fa-skull me-1"></i> Af İşlemlerine Git
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th><i class="fa-solid fa-user me-1"></i> Öğrenci Ad-Soyad</th>
                        <th>Öğrenci No</th>
                        <th>Ceza Tutarı (₺)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "Student", new { id = item.Student.ID })" class="btn btn-sm btn-primary" title="Öğrenci Hakkında Bilgi">
                                    <i class="fa-solid fa-info-circle text-white"></i>
                                </a>
                                @item.Student.Name @item.Student.Surname
                            </td>
                            <td>@item.Student.StudentNumber</td>
                            <td>
                                <span class="badge bg-danger">
                                    @item.Penalty
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a href="#top" class="text-decoration-none">
            <i class="fa-solid fa-angles-up me-1"></i> Yukarıya Çık
        </a>
    </div>
</div>

